﻿@{
    ViewBag.Title = "SuperHeroes";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message1</h3>
<h3>@ViewBag.Message2</h3>
<h3>@ViewBag.Message3</h3>
<h3>@ViewBag.Message4</h3>
<h3>@ViewBag.Message5</h3>