﻿﻿@model IEnumerable<MVCDemo3.Models.Students>

@{
    /**/

    ViewBag.Title = "Show List 2";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h1>A student list will be displayed on this page</h1>
</div>

<div>
    @foreach (var item in Model)
    {
        <p>@item.name</p>
        <p>@item.roll</p>
    }
</div>
